* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

    nav {
        display: flex;
        justify-content: center;
        background: #0a7ab2;
        padding: 10px;
        height: 50px;

    }
    nav img{
        height: 80px;
        width: 80px;
    }
    
    nav a {
        color: white;
        text-decoration: none;
        padding: 12px 15px;
        font-size: 15px;
        text-align: center;
    }
    
    nav a:hover {
        background: #003f66;
    }


.lab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px;
}

.lab-content {
    width: 50%;
    padding-right: 10px;
}

.lab-content h2 {
    color: #003f66;
    font-size: 40px;
}

.lab-image {
    width: 50%;
}

.lab-image img {
    width: 100%;
    border-radius: 8px;
}

.lab-facilities {
    background: #f8f9fa;
    padding: 30px;
    text-align: center;
}

.lab-facilities h3 {
    color: #003f66;
    font-size: 40px;
}

.lab-facilities ul {
    list-style: none;
}

.lab-facilities ul li {
    font-size: 18px;
    padding: 8px;
}


footer {
    background: #f9f9f9;
    padding: 40px 20px;
    text-align: center;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: auto;
}

.footer-about,
.footer-contact {
    width: 35%;
    text-align: left;
}

.footer-about img {
    width: 120px;
    margin-bottom: 10px;
}

.footer-about p,
.footer-contact p {
    color: #555;
    font-size: 14px;
    line-height: 1.6;
}

.footer-contact h3 {
    color: #00838F;
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-social {
    width: 25%;
    text-align: left;
}

.footer-social h3 {
    color: #00838F;
    font-size: 18px;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.social-icons img {
    width: 35px;
    height: 35px;
    transition: transform 0.3s, opacity 0.3s;
    cursor: pointer;
}

.social-icons img:hover {
    transform: scale(1.2);
    opacity: 0.8;
}

.copyright-footer {
    background: #000; 
    color: #b0b0b0; 
    text-align: center;
    padding: 10px;
    font-size: 14px;
}

